* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto;        
}

@import 'base/variables';
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_advantages.scss';
@import 'blocks/_title.scss';
@import 'blocks/_consultaition.scss';
@import 'blocks/_forms.scss';
@import 'blocks/_carousel.scss';
@import 'blocks/_catalog.scss';